<h1>Angular Nested FormArray / Dynamic FormArray</h1>

<form [formGroup]="syllabusForm" (ngSubmit)="onSubmit()">
  <div formArrayName="modules">
    <div *ngFor="let employee of modules().controls; let moduleIndex = index">
      <div
        [formGroupName]="moduleIndex"
        style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
      >
        {{ moduleIndex }} First Name :
        <input type="text" formControlName="firstName" />
        Last Name:
        <input type="text" formControlName="lastName" />

        <button (click)="removeEmployee(moduleIndex)">Remove</button>

        <div formArrayName="skills">
          <div
            *ngFor="
              let skill of employeeSkills(moduleIndex).controls;
              let skillIndex = index
            "
          >
            <div [formGroupName]="skillIndex">
              {{ skillIndex }} Skill :
              <input type="text" formControlName="skill" />
              Exp:
              <input type="text" formControlName="exp" />

              <button (click)="removeEmployeeSkill(moduleIndex, skillIndex)">
                Remove
              </button>
            </div>
          </div>
        </div>
        <button type="button" (click)="addEmployeeSkill(moduleIndex)">
          Add Skill
        </button>
      </div>
    </div>
    <button type="button" (click)="addEmployee()">Add Employee</button>
  </div>
</form>

{{ this.syllabusForm.value | json }}

<br /><br />
<a
  href="https://www.tektutorialshub.com/angular/nested-formarray-example-add-form-fields-dynamically/"
  >Nested FormArray / Dynamic FormArray</a
>
